[package]
name = "xiangting-py"
version = "2.0.0"
description = "Python bindings for xiangting"
authors = ["Apricot S."]
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/Apricot-S/xiangting-py"
keywords = ["mahjong"]
categories = ["algorithms"]
exclude = [
    "/.devcontainer/**/*",
    "/.github/**/*",
    "/docs/**/*",
    "/examples/**/*",
    "/scripts/**/*",
    "/tests/**/*",
    "/.gitignore",
    "/Makefile",
]

[lib]
name = "xiangting"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23.0", features = ["extension-module"] }
xiangting = { git = "https://github.com/Apricot-S/xiangting.git", version = "2.0.1" }
